/*
Nom : Gaille
Prénom: Sébastien
date de réalisation du projet: 02.05.2022-18.05.2022
temps à disposition: 90 heures 

description: le fichier PHP game.css
*/

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    animation: scroll 40s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;

}

.sprite {
    display: none;
    
}

@keyframes scroll {
    100%{
     background-position:0px 10000px;
   }
 }
 
 @media (prefers-reduced-motion) {
    canvas {
     animation: scroll 10s linear infinite;
   }
 }
 
#info {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

a {
    color: white;
    text-decoration: none;
    transition: color 1s, transition 1s;
}

a:hover {
    color: white !important;
}

#pause {
    width: 30vw;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
    color: white;
    font-size: 5vmax;
}
#pauseMenu{
    display: none;
}
.game-menu {
    border: solid rgb(73, 73, 73) 2rem;
   
    width: 80vw;
    height: 80vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(77, 77, 80, 0.5);
    transition: background-color 2s;
}
.game-menu:hover{
    background-color: rgba(18, 18, 90, 0.3);
}

.button-menu-game {
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: white;
    font-size: 2rem;
    background-color: rgb(85, 85, 85);
    transition: width 1s, height 1s, background-color 2s, transform 0.5s, color 1s, font-size 2s, margin-right 1s, margin-left 1s, margin-top 1s,padding-top 2s,border 2s;
    border: solid rgb(70, 70, 70) 10px;
}

.container {
    margin-top: 10vh;
    width: 30vw;
    background-color: transparent;
    margin-left: 25vw;
    margin-right: 25vw;
}

.button-menu-game:hover {
    width: 22vw;
    height: 12vh;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 1vh;
    font-size: 4rem;
    padding-top: 2vh;
    color: white;
    background-color: rgb(97, 134, 189);
    border: solid rgb(55, 74, 104) 10px;
}

#gameOverMenu {
    border: solid rgb(73, 73, 73) 2rem;
    text-align: center;
    color: white;
    font-size: 40px;
    width: 80vw;
    height: 80vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(77, 77, 80);
    transition: background-color 2s;
    display: none;
}

.question-menu-game{
    /* border: solid rgb(73, 73, 73) 2rem; */
    display: none;
    width: 80vw;
    height: 70vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    background-color: rgba(77, 77, 80, 0.5);
    color: white;
    font-size: 1em;
    
    
}
#img-question{
    width: 10vw;
    height: 10vw;
    margin-left: 20vw;
    margin-right: 20vw;
    
}
.question-selection{
    
    width: 33vw;
    background-color: none;
    height: 5vh;
    margin-right: 40vw;
    margin-left: 23.5vw;
    float: left;
    border: solid white 2px;
}
/* .question-menu-game:hover{
    
    width: 100vw;
    height: 100vh;
    margin-right: 0vw;
    margin-left: 0vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
} */