/*
Nom : Gaille
Prénom: Sébastien
date de réalisation du projet: 02.05.2022-18.05.2022
temps à disposition: 90 heures 

description: le fichier PHP login.css
*/
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

label,
input,
button {
    display: block;
    margin: 0.5rem;
    padding: 0.2rem;
    min-width: 100%;
}

[type="submit"] {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.centered-full-page {
    width: 100%;
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}