/*
Nom : Gaille
Prénom: Sébastien
date de réalisation du projet: 02.05.2022-18.05.2022
temps à disposition: 90 heures 

description: le fichier PHP menu.css
*/
* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    width: 100vw;
}

.container {
    width: 100vw;
}

.link:hover {
    background-color: white;
    width: 35vw;
    height: 20vh;
    color: black !important;
    text-decoration: none !important;
    font-size: 1em;
}

.link {
    display: block;
    width: 50vw;
    height: 20vh;
    color: white;
    text-decoration: none !important;
    background-color: black;
    font-size: 2rem;
    transition: width 2s, height 2s, background-color 2s, transform 1s, color 2s, font-size 1s;
}

.title-menu {
    display: block;
    float: left;
    width: 100%;
    height: 20vh;
    color: white;
    text-decoration: none !important;
    background-color: rgb(160, 39, 39);
    font-size: 2rem;
    transition: width 2s, height 2s, background-color 2s, transform 1s, color 2s, font-size 1s;
}

.display-1 {
    width: 50%;
}

#pseudo {
    float: right;
}

#gameName {
    float: left;
}

.title-menu:hover {
    float: left;
}